@charset "UTF-8";

body#login {
	text-align: left;
	background-image: url(/images/fundo01.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 80%;
	background-color: #233543;
}

table#login {
	background-image: url(/images/box_login.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 260px;
	left: 620px;
	width: 292px;
	padding-top: 20px;
	padding-left: 12px;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}
	
table#login td {
	vertical-align: top;
}

td#usuario {
	height: 70px;
}

td#senha {
	height: 70px;
}

input#login {
	background-image: url(/images/fundo_input.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 250px;
	height: 45px;
	border: 0px;
	padding-left: 8px;
	margin-bottom: 3px;
	font-family: arial;
	font-size: 28px;
	font-weight: bold;
}