@charset "UTF-8";

body {
	text-align: left;
	margin-top: 0px;
	background-image: url(/images/fundo02.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	background-size: 1040px;
	background-color: #233543;
}

body#login {
	background-image: url(/images/fundo01.jpg);
}

body#Master {
	background-image: url(/images/fundo03.jpg);
}

body#login table {
	border-spacing: 0px;
	width: 318px;
	position: absolute;
	left: 560px;
}

body#login table#submit {
	text-align: center;
	top: 365px;
	margin-top: 25px;
}

body#login table#login {
	background-image: url(/images/fundo_login.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 195px;
	top: 170px;
}

body#Master table#header td#infos {
	padding-top: 0px;
	vertical-align: top;
}

body#Master table#infos input,
body#Master table#cliente input,
body#Master table#empresa input {
	color: #362904;
	font-family: Arial;
	font-size: 4mm;
}
	
table#login td {
	padding-left: 30px;
	vertical-align: top;
	text-align: left;
	font-family: Arial;
	font-size: 5mm;
}

body#Master table#header {
	height: 206px;
}

table#header, table#holerite {
	width: 1040px;
	height: 192px;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#header td#avatar {
	width: 228px;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-family: Arial;
	font-size: 6mm;
	font-weight: bold;
	padding-right: 8px;
}

table#header td#infos {
	width: 771px;
	text-align: left;
	vertical-align: bottom;
	padding-bottom: 20px;
	color: white;
	font-family: Arial;
	font-size: 5mm;
}

table#infos,
table#cliente,
table#empresa {
	width: 100%;
	margin-left: 10px;
	border-spacing: 20px;
}

table#infos td#sair {
	padding-right: 20px;
	vertical-align: bottom;
	text-align: right;
	margin-bottom: 0px;
}

table#infos input,
table#cliente input,
table#empresa input {
	border: none;
	height: 25px;
	padding-left: 5px;
}

table#infos input {
	width: 250px;
}

table#empresa input#CNPJ {
	width: 150px;
}

table#empresa input#razaoSocial {
	width: 450px;
}

table#cliente input {
	width: 200px;
}

body#Master input {
	background-color: #f4ebd9;
}

table#holerite {
	margin-top: 80px;
}

table#holerite td {
	text-align: center;
}

body#Colaborador table#holerite td#esquerda {
	width: 260px;
}

body#Master table#holerite td#esquerda {
	width: 217px;
}

body#Master table#holerite td#mesAno,
body#Master table#holerite td#recibo {
	width: 200px;
}

table#holerite td#emitir {
	background-image: url(/images/fundo_emitir.png);
	background-repeat: repeat-y;
	background-position: center;
}

body#Master table#holerite td#emitir {
	background: none;
	padding-right: 207px;
}

table#inc_cli,
table#list_header_cli,
table#list_cli,
table#list_cli_inc,
table#list_header,
table#list_empresa,
table#list_colab,
table#inc_empresa,
table#inc_colab {
	font-family: Arial;
	font-size: 4mm;
	margin-left: auto;
	margin-right: auto;
}

table#inc_cli {
	padding-top: 55px;
}

table#inc_cli td {
	padding-bottom: 20px;
}

table#inc_cli td#label {
	text-align: right;
	padding-right: 10px;
}

table#inc_cli td#continuar,
table#list_cli_inc td#inc_cli,
table#list_cli td#continuar,
table#inc_empresa td,
table#inc_colab td {
	text-align: center;
}

table#inc_cli td#continuar {
	padding-top: 28px;
}

table#list_cli_inc td#inc_cli,
table#inc_empresa td,
table#inc_colab td {
	padding-top: 22px;
}

table#inc_cli label {
	color: #362904;
	font-family: Arial;
	font-size: 5mm;
}

table#inc_cli input {
	border: none;
	height: 25px;
	color: #362904;
	font-family: Arial;
	font-size: 5mm;
}
table#list_header_cli,
table#list_cli,
table#inc_cli {
	width: 500px;
}

div#list_cli {
	width: 512px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	overflow: auto;
}

table#list_header_cli,
table#list_header {
	padding-top: 30px;
}

table#list_header,
table#list_empresa,
table#list_colab,
table#inc_empresa,
table#inc_colab {
	width: 570px;
}

div#list_empresa,
div#list_colab {
	width: 582px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	overflow: auto;
}

table#list_header_cli th,
table#list_cli th,
table#list_header th {
	text-align: center;
	color: #362904;
	font-family: Arial;
	font-size: 5mm;
	background-color: transparent;
}

table#list_cli tr:nth-child(even)#body,
table#list_empresa tr:nth-child(even)#body,
table#list_colab tr:nth-child(even)#body {
	background-color: #f4ebd9;
	color: #7b6528;
}

table#list_cli tr:nth-child(even)#body a,
table#list_empresa tr:nth-child(even)#body a,
table#list_colab tr:nth-child(even)#body a {
	color: #7b6528;
	text-decoration: none;
}

table#list_cli tr:nth-child(even)#body a:hover,
table#list_empresa tr:nth-child(even)#body a:hover,
table#list_colab tr:nth-child(even)#body a:hover {
	color: #362904;
	text-decoration: none;
}

table#list_cli tr:nth-child(odd)#body,
table#list_empresa tr:nth-child(odd)#body,
table#list_colab tr:nth-child(odd)#body {
	background-color: #7b6528;
	color: #f4ebd9;
}

table#list_cli tr:nth-child(odd)#body a,
table#list_empresa tr:nth-child(odd)#body a,
table#list_colab tr:nth-child(odd)#body a {
	color: #f4ebd9;
	text-decoration: none;	
}

table#list_cli tr:nth-child(odd)#body a:hover,
table#list_empresa tr:nth-child(odd)#body a:hover,
table#list_colab tr:nth-child(odd)#body a:hover {
	color: #362904;
	text-decoration: none;	
}

table#list_cli td,
table#list_empresa td,
table#list_colab td {
	padding: 5px 5px 5px 5px;
}

th#nome_cli,
td#nome_cli {
	width: 170px;
}

th#customer_id,
td#customer_id {
	width: 170px;
}

th#user_default,
td#user_default {
	width: 160px;
}

td#usuario {
	padding-top: 20px;
	height: 30%
}

td#senha {
	padding-top: 12px;
	height: 70%
}

input#login {
	background-image: url(/images/fundo_input.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 255px;
	height: 46px;
	border: 0px;
	margin-bottom: 5px;
	padding-left: 8px;
	font-family: Arial;
	font-size: 28px;
}

input[type=image]#continuar,
input[type=image]#inc_cliente,
input[type=image]#imp_empresa,
input[type=image]#imp_colab {
	background-color: transparent;
	height: 22px;
}

input[type=image]#emitir {
	background-color: transparent;
	height: 30px;
}

div#loginError {
	width: 295px;
	position: absolute;
	top: 335px;
	left: 560px;
	text-align: right;
	font-family: Arial;
	font-size: 4mm;
	color: red;
}

img#icone {
	width: 75px;
}

.usuario {
	margin-top: 5px;
}

.calendario,
.recibo,
.emitir {
	margin-bottom: 5px;
}

img#sair {
	height: 40px;
	margin-bottom: 0ṕx;
	margin-bottom: -6px;
}

img#mesAno {
	margin-bottom: -7px;
	height: 23px;
	position: relative;
	z-index: 1;
}

img#recibo {
	margin-bottom: -7px;
	height: 23px;
	position: relative;
	z-index: 1;
}

select { 
	width: 131px;
	border: 1px solid #2d4369;
}