<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="header :: header"></div>
	<body style="text-align: center; margin-top: 50px;" th:object="${cliente}">
		<h1>Usuário Master</h1>
		<br />
		<div align="center"><table border="1">
			<tr>
				<th>Nome</th>
				<td th:text="${cliente.nome}"></td>
				<th>Customer ID</th>
				<td th:text="${cliente.customerID}"></td>
				<th>Usuário Padrão</th>
				<td th:text="${cliente.username}"></td>
			</tr>
			<tr>
				<th>Endpoint</th>
				<td colspan="5" th:text="${cliente.endpoint}"></td>
			</tr>
		</table></div>
		<br />
	 	<div th:if="${empresas.size() > 0}" align="center">
		<table border="1">
			<tr>
				<th>CNPJ</th>
				<th>RAZÃO SOCIAL</th>
			</tr>
			<tr th:each="empresa : ${empresas}">
				<td><a th:href="@{empresa/} + '?idempresa=' + ${empresa.idEmpresa}" th:text="${empresa.cnpj}"></a></td>
				<td th:text="${empresa.razaoSocial}"></td>
			</tr>
		</table>
		<br />
		</div>
	 	<div align="center">
		<form method="post" th:action="@{empresa/importar}">
			<input type="hidden" name="idcliente" th:value="${cliente.idCliente}">
			<input type="submit" value="Importar Empresas">
		</form>
		</div>
	</body>
</html>