<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="header :: header"></div>
	<body th:id="${bodyId}">
		<table id="header">
			<tr>
				<td>&nbsp;</td>
				<td id="avatar"><span th:text="'Usuário ' + ${bodyId}"></span><br />
				<img id="icone" class="usuario" th:src="@{/images/} + 'icone_' + ${bodyId} + '.png'"></td>
				<td id="infos"><table id="infos">
					<tr>
						<td>Nome<br />
						<input id="nome" type="text" th:value="${usuario.nome}" disabled="disabled" /></td>
						<td>Nickname<br />
						<input id="nome" type="text" th:value="${usuario.nickname}" disabled="disabled" /></td>
						<td id="sair"><img id="sair" th:src="@{/images/} + 'btn_sair_' + ${bodyId} + '.png'" th:onclick="'location.href=\'' + @{/logout} + '\';'" /></td>
					</tr>
				</table></td>
			</tr>
		</table>
		<table id="list_header_cli">
			<tr>
				<th id="nome_cli">Nome</th>
				<th id="customer_id">Customer ID</th>
				<th id="user_default">Usuário Padrão</th>
			</tr>
		</table>
		<div id="list_cli">
			<table id="list_cli">
				<tr id="body" th:each="cliente : ${clientes}">
					<td id="nome_cli"><a th:href="@{cliente/details} + '?idcliente=' + ${cliente.idCliente}" th:text="${cliente.nome}"></a></td>
					<td id="customer_id" th:text="${cliente.customerID}"></td>
					<td id="user_default" th:text="${cliente.username}"></td>
				</tr>
			</table>
		</div>
		<table id="list_cli_inc">
			<tr>
				<td id="inc_cli">
					<form method="get" th:action="@{cliente/incluir}">
						<input id="continuar" type="image" 
							   th:src="@{/images/} + 'btn_continuar_' + ${bodyId} + '.png'">
					</form></td>
			</tr>
		</table>
	</body>
</html>