<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="header :: header"></div>
	<body th:id="${bodyId}">
		<table id="header">
			<tr>
				<td>&nbsp;</td>
				<td id="avatar"><a href="javascript: history.go(-1)"><img th:if="${bodyId != 'Colaborador'}" th:src="@{/images/} + 'seta_voltar_' + ${bodyId} + '.png'"></a>
				<span th:text="'Usuário ' + ${bodyId}"></span><br />
				<img id="icone" class="usuario" th:src="@{/images/} + 'icone_' + ${bodyId} + '.png'"></td>
				<td id="infos"><table id="infos">
					<tr>
						<td>Nome<br />
						<input id="nome" type="text" th:value="${usuario.nome}" disabled="disabled" /></td>
						<td>Nickname<br />
						<input id="nome" type="text" th:value="${usuario.nickname}" disabled="disabled" /></td>
						<td id="sair"><img id="sair" th:src="@{/images/} + 'btn_sair_' + ${bodyId} + '.png'" th:onclick="'location.href=\'' + @{/logout} + '\';'" /></td>
					</tr>
				</table>
				<table id="empresa">
					<tr>
						<td>CNPJ<br />
						<input id="CNPJ" type="text" th:value="${empresa.cnpj}" disabled="disabled" /></td>
						<td>Razão Social<br />
						<input id="razaoSocial" type="text" th:value="${empresa.razaoSocialCapitalized}" disabled="disabled" /></td>
					</tr>
				</table></td>
			</tr>
		</table>
	 	<table id="list_header">
			<tr th:if="${colaboradores.size() == 0}">
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
			<tr th:if="${colaboradores.size() > 0}">
				<th>CPF</th>
				<th>Nome</th>
			</tr>
		</table>
		<div id="list_colab">
			<table id="list_empresa">
				<tr id="body" th:each="colaborador : ${colaboradores}">
					<td><a th:href="@{colab/} + '?idcolaborador=' + ${colaborador.idColaborador}" th:text="${colaborador.cpf}" /></td>
					<td th:text="${colaborador.nome}"></td>
				</tr>
			</table>
		</div>
		<table id="inc_colab">
			<tr>
				<td>
					<form method="post" th:action="@{colab/importar}">
						<input type="hidden" name="idempresa" th:value="${empresa.idEmpresa}">
						<input id="imp_colab" type="image" 
							   th:src="@{/images/} + 'btn_colaborador_' + ${bodyId} + '.png'">
					</form></td>
			</tr>
		</table>
	</body>
</html>