<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body style="text-align: center; margin-top: 50px;">
	<h1>Usuário Master</h1>
	<br />
	<br />
	<table th:if="${clientes.size() > 0}">
		<tr>
			<th>Nome</th>
			<th>Customer ID</th>
			<th>Usuário Padrão</th>
			<th>EndPoint</th>
		</tr>
		<tr th:each="cliente : ${clientes}">
			<td th:text="${cliente.nome}"></td>
			<td th:text="${cliente.customerID}"></td>
			<td th:text="${cliente.username}"></td>
			<td th:text="${cliente.endpoint}"></td>
		</tr>
	</table>
	<br />
	<br />
	<form method="post" th:object="cliente" th:action="@{/master/cliente/save}">
		<label for="nome">NOME</label><br />
		<input id="nome" type="text" name="nome">
		<br /><br />
		<label for="customerID">CUSTOMER ID</label><br />
		<input id="customerID" type="text" name="nome">
		<br /><br />
		<label for="usuario">USUARIO PADRÃO WEBSERVICE</label><br />
		<input id="usuario" type="text" name="nome">
		<br /><br />
		<label for="senha">PASSWORD</label><br />
		<input id="senha" type="password" name="nome">
		<br /><br />
		<label>ENDPOINT</label><br />
		<input id="endpoint" type="text" name="endpoint">
		<br /><br />
		<input type="submit" value="Incluir Cliente">
	</form>
</body>
</html>