<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Language" content="pt-br">
	<link rel="stylesheet" type="text/css" th:href="@{/css/portal.css}" />
	<script type="text/javascript" th:src="@{/js/portal.js}"></script>
</head>
<body id="login">
<form method="post" th:action="@{/login}" autocomplete="off">
<table id="login">
	<tr>
		<td id="usuario"><input id="login" type="text" name="username" /><br />
		Usuário</td>
	</tr>
	<tr>
		<td id="senha" colspan="2"><input id="login" type="password" name="password" /><br />
		Senha</td>
	</tr>
</table>
<input type="submit" style="visibility: hidden;">
</form>
</body>
</html>