<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body style="text-align: center; margin-top: 50px;">
<table style="margin-left: auto; margin-right: auto; text-align: left;">
	<form id="login" method="post" th:action="@{/login}" autocomplete="off">
	<tr>
		<td>Username<br />
		<input id="login" type="text" name="username" /></td>
		<td>Password<br />
		<input id="login" type="password" name="password" /></td>
	</tr>
	<tr>
		<td align="center"><input id="login" type="submit" value="Login" /></td>
		<td align="center"><input id="login" type="reset" value="Reset" /></td>
	</tr>
	</form>
</table>
</body>
</html>